div {
    max-width: 540px;  
}
div h2, div p, div span {
    padding: 5px 40px;
}

.degerlendirme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
